mat-divider {
    padding-bottom: 10px;
}
mat-label {
    color: var(--color-11);
}
.caja_principal {
 padding-top: 10px; 
}

.caja_informacion {
    max-width: 60%;
    height: 520px;
    margin: auto;
}

.sub_titulo {
    font-size: var(--font-size-10);
    font-weight: bold;
}