 mat-sidenav-container{
   height: calc(100vh - 98px);
   background: url(public/images/bg-02.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;
   margin: 0;
   padding: 0;
   background-color: black;
}

mat-sidenav-content {
    height: calc(100vh - 98px);
    padding-top: 150px; 
    padding-right: 2%;
    padding-left: 50%;
}


.content {
    height: calc(70vh - 98px);
    background-color: var(--color-9);
    border-radius: 10px;
    display: flex;
    justify-content: center; // CONTENIDO CENTRADO
    align-items: center;  // CENTRAR VERTICALMENTE 
}

.form-custom {
  min-width: 150px;
  width: 100%;
}

.input-custom {
  width: 100%;
}
.botton-login {
  background-color: var(--color-10);
  color: white !important;
  font-size: var(--font-size-8);
}

.titulo_login {
  font-size: var(--font-size-6);
  font-weight: bold;
}

.texto_recuperarcontrania {
 font-size: var(--font-size-7);
 text-decoration: none;
 color: var(--color-10);
 font-weight: bold;
}

 