.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .contenido_precierre{
    background-color: rgb(255, 255, 255);
  }


  .boton_general {
    margin-top: 1em;
    background-color: var(--color-10);
    color: white !important;
    font-size: var(--font-size-8);
}