.menu-boton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    mat-icon,span,a {
      margin-right: 8px;
      color: var(--color-7);
    }
}

.menu-boton:hover {
  font-size: 18px;
}
    