<button mat-button class="menu-boton">
    <mat-icon>date_range</mat-icon>
    <span>Padron</span>
  </button>
  
  <button mat-button class="menu-boton">
    <mat-icon>attach_money</mat-icon>
    <span>Pagos</span>
  </button>
  
  <button mat-button class="menu-boton">
    <mat-icon>print</mat-icon>
    <span>Reportes</span>
  </button>
  
  <mat-divider></mat-divider>
  
  <button mat-button class="menu-boton">
    <mat-icon>logout</mat-icon>
    <span><a  (click)="cerrarSession()">Cerrar Session</a></span>
  </button>
  
