<span class="titulo_modulo">{{title}}</span>
 <mat-divider></mat-divider> <br>
<form  class="form-inline" [formGroup]="formProcesarPadron"  method="post" (ngSubmit)="procesarHogares()">
    <mat-card class="title_center" appearance="outlined">
        <mat-card-content>
            <div class="row text-center">
                <div class="col-sm-2">
                    <mat-form-field appearance="outline"  class="combos">
                        <mat-label class="titulo_combos">TIPO ESQUEMA</mat-label>
                        <mat-select  formControlName="strCbtipoEsquema"> 
                          <mat-option *ngFor="let tipoesquema of this.listacombo" [value]="tipoesquema.id">
                            {{tipoesquema.descripcion}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="combos" >
                        <mat-label class="titulo_combos">PERIODO</mat-label>
                        <mat-select  formControlName="strCbPeriodo" >
                          <mat-option *ngFor="let lsperiodos of this.listacomboPeriodos" [value]="lsperiodos.descripcion">
                            {{lsperiodos.descripcion}}
                          </mat-option> 
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="combos">
                        <mat-label class="titulo_combos">CODIGOHOGAR</mat-label>
                        <input type="number" matInput placeholder="Ingrese CodigoHogar"  formControlName="numCodigoHogar">
                    </mat-form-field>
                </div>

                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="custom-datepicker" >
                        <mat-label class="titulo_combos">FECHA PADRON</mat-label>
                        <input matInput [matDatepicker]="picker" readonly formControlName="strFechaPadron">
                        <mat-datepicker-toggle matIconSuffix [for]="picker" > </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>

                <div class="col-sm-1">
                    <mat-form-field appearance="outline" class="caja_criterio">
                        <mat-label class="titulo_combos">DESCRIPCION</mat-label>
                        <input matInput placeholder="Ingrese la Descripcion"   formControlName="strDescripcion">
                    </mat-form-field>
                </div>
 
                <div class="col-sm-3">
                    <button mat-fab extended class="boton_general"  type="button" (click)="buscarHogares()">
                        <mat-icon>search</mat-icon>
                        BUSCAR
                      </button>
                      &nbsp;&nbsp;
                      <button mat-fab extended class="boton_general"  type="button"  (click)="limpiar()">
                        <mat-icon>clear</mat-icon>
                        LIMPIAR
                        </button>
                </div>
             </div>

        </mat-card-content>   
    </mat-card>        
  
    <div class="rows "><label class="titulo_pre_cierre">LISTA DE HOGARES</label></div>
       
 <mat-card appearance="outlined">
      <mat-card-content>

       
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >


    <ng-container matColumnDef="OP"  >
      <th mat-header-cell *matHeaderCellDef   >
        <mat-checkbox (change)="$event ? masterToggle() : null"  
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"  
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
     </ng-container>

    

    <!-- Weight Column -->
    <ng-container matColumnDef="DEPARTAMENTO">
      <th mat-header-cell  *matHeaderCellDef > DEPARTAMENTO </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.provincia+' || '+element.distrito+' || '+element.centroPoblado"> {{element.departamento}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="TIPO_ESQUEMA">
      <th mat-header-cell *matHeaderCellDef> ESQUEMA </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoEsquema}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ID_CORTE" >
      <th mat-header-cell *matHeaderCellDef> IDCORTE </th>
      <td mat-cell *matCellDef="let element"> {{element.idCorte}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="IDHOGAR"  >
      <th mat-header-cell *matHeaderCellDef> IDHOGAR </th>
      <td mat-cell *matCellDef="let element"> {{element.idHogar}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="CODIGOHOGAR"  >
      <th mat-header-cell *matHeaderCellDef> CODIGOHOGAR </th>
      <td mat-cell *matCellDef="let element"> {{element.codigoHogar}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="PERIODO"  >
      <th mat-header-cell *matHeaderCellDef> PERIODO </th>
      <td mat-cell *matCellDef="let element"> {{element.codigoPeriodo}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="FEHCA_PADRON"  >
      <th mat-header-cell *matHeaderCellDef> FPADRON </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaPadron}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="TITULAR"  >
      <th mat-header-cell *matHeaderCellDef> TITULAR </th>
      <td mat-cell *matCellDef="let element"> {{element.titular}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ESTADO_CUENTA"  >
      <th mat-header-cell *matHeaderCellDef> CUENTA </th>
      <td mat-cell *matCellDef="let element"> {{element.estadoCuenta}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="CODIGO_PADRON"  >
      <th mat-header-cell *matHeaderCellDef> CODIGO PADRON </th>
      <td mat-cell *matCellDef="let element" > {{element.codigoPadron}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="MONTO"  >
      <th mat-header-cell *matHeaderCellDef> MONTO S/</th>
      <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 

  <div class="row" style="padding-top: 5px;">
    <div class="col-sm-14 text-end" >
      <mat-paginator  
      [pageSizeOptions]="[6,10]" 
      showFirstLastButtons
      aria-label="Select page of periodic elements">
     </mat-paginator>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <button mat-fab extended class="boton_general"  type="submit">
        <mat-icon>library_add_check</mat-icon>
        VISTA PREVIA PRE CIERRE
      </button>
    </div>
  </div>

   </mat-card-content> 
 </mat-card>
</form>
 