/* You can add global styles to this file, and also import other style files */
:root {
    --color-1: #af261a;   // COLOR DE BANER PRINCIPAL
    --color-2: #ffffff;   // COLOR DE LETRAS DE TOOLBAR MENU SUPERIOR
    --color-3: #ffffff;   // COLOR DE LOS ICONOS DEL MENU SUPERIOR
    --color-4: #ffffff;   // COLOR DE FONDO DEL MENU IZQUIERO
    --color-5: #000000;   // COLOR DE LAS LETRAS DEL MENU IZQUIERDO
    --color-6: #ffffff;   // COLOR DE LETRAS DE TOOLBAR PIE PAGINA
    --color-7: #000000;   // COLOR DE LOS ICONOS DEL MENU IZQUIERDO
    --color-8: #ffffff;   // COLOR DE FONDO DEL CONTENEDOR
    --color-9: #ffffff;   // COLOR DE FONDO DEL LOGIN
    --color-10: #af261a;  // COLOR DE FONDO DEL BOTON DE LOGIN
    --color-11: #af261a;  // COLOR LETRAS ETIQUETAS USUARIO

    --font-size-1: 13px;    //
    --font-size-2: 15px;    // TAMANIO LETRA AL PASAR EL MAUSE POR EL NOMBRE DE USUARIO  
    --font-size-3: 15px;    // TAMANIO LETRAS PIE PAGINA DERECHOS RESERVADOS
    --font-size-4: 17px;    // TAMANIO LETRAS PIE PAGINA FECHA Y HORA
    --font-size-5: 15px;    // TAMANIO LETRAS TITULO CABECERA DEL DASHBOARD
    --font-size-6: 25px;    // TAMANIO LETRAS TITULO LOGIN
    --font-size-7: 17px;    // TAMANIO LETRAS RECUPERAR CONTRASENIA
    --font-size-8: 15px;    // TAMANIO LETRAS BOTON INICIAR SESSION
    --font-size-9: 15px;    // TAMANIO LETRAS TITULO DE LOS MODULOS DASHBOARD
    --font-size-10: 15px;    // TAMANIO LETRAS SUB TITULO DE LOS MODULOS 
}


.titulo_modulo {
  font-size: var(--font-size-9);
  font-weight: bolder;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button:disabled{
 opacity: .5;   
}
