<div class="rows text-center">
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!-- Weight Column -->
      <ng-container matColumnDef="DEPARTAMENTO">
        <th mat-header-cell *matHeaderCellDef > DEPARTAMENTO </th>
        <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="PROVINCIA">
        <th mat-header-cell *matHeaderCellDef > PROVINCIA </th>
        <td mat-cell *matCellDef="let element"> {{element.provincia}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="DISTRITO">
        <th mat-header-cell *matHeaderCellDef > DISTRITO </th>
        <td mat-cell *matCellDef="let element"> {{element.distrito}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="CENTROPOBLADO">
        <th mat-header-cell *matHeaderCellDef > CENTROPOBLADO </th>
        <td mat-cell *matCellDef="let element"> {{element.centroPoblado}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="TIPOPADRON">
        <th mat-header-cell *matHeaderCellDef > TIPOPADRON </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoPadron}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="CODIGOPADRON">
        <th mat-header-cell *matHeaderCellDef > CODIGOPADRON </th>
        <td mat-cell *matCellDef="let element"> {{element.codigoPadron}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="PERIODO">
        <th mat-header-cell *matHeaderCellDef> PERIODO </th>
        <td mat-cell *matCellDef="let element"> {{element.periodo}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="IDHOGAR">
        <th mat-header-cell *matHeaderCellDef > IDHOGAR </th>
        <td mat-cell *matCellDef="let element"> {{element.idhogar}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="MONTO">
        <th mat-header-cell *matHeaderCellDef > MONTO </th>
        <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="TITULAR">
        <th mat-header-cell *matHeaderCellDef > TITULAR </th>
        <td mat-cell *matCellDef="let element"> {{element.titular}} </td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> 
    
    <mat-paginator [pageSizeOptions]="[3, 4]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
    
     
     
    