<mat-stepper linear #stepper class="contenido_precierre">

  <!-- PASO 1 VISTA PREVIA DE LOS HOGARES  Y BOTON DEL PRE CIERRE-->
    <mat-step [stepControl]="vistaPreviaFormGroup"  [editable]="false">
      <form [formGroup]="vistaPreviaFormGroup">
        <input type="hidden"  formControlName="strContinua1"  [value]="pcontinua1" />
        <p></p>
        <ng-template matStepLabel>VISTA PREVIA PRE CIERRE</ng-template>

        <mat-card class="contenido_precierre text-center" appearance="outlined" >
            <mat-card-content  >
               <div class="row">

                  <div class="col-sm-3" >
                    <mat-form-field appearance="outline" >
                        <mat-label>USUARIO</mat-label>
                        <input readonly matInput  formControlName="strUsuario" class="text-center" >
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field appearance="outline">
                        <mat-label>CANTIDAD HOGARES</mat-label>
                        <input readonly matInput  formControlName="strCantidadHogares" class="text-center">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field appearance="outline">
                        <mat-label>MONTO</mat-label>
                        <input readonly matInput  formControlName="strMontoPagar" class="text-center">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3">
                    <mat-form-field appearance="outline">
                        <mat-label>FECHA CIERRE</mat-label>
                        <input readonly matInput  formControlName="strFechaPreCierre" class="text-center">
                    </mat-form-field>
                  </div>
 
               </div>
                <div class="title_center"><app-spiner *ngIf="this.cargando"></app-spiner></div>
               <div class="rows">
                <div class="col-sm-12">
                  <app-hg-seleccion-precierre *ngIf="this.listaHogarSeleccionadoVistaPrevia.length > 0" [lsHogarSeleccionadoVistaPrevia]="this.listaHogarSeleccionadoVistaPrevia"></app-hg-seleccion-precierre>
                </div>
                   
               </div>
               <div class="row">
                <div class="col-sm-12 text-center">
                   <button mat-fab extended class="boton_general" *ngIf="this.vmontoPagarVistaPreviaCierre>0" (click)="clickButton(2, stepper)">
                    <mat-icon>library_add_check</mat-icon>
                    GENERAR PRE CIERRE
                  </button>
                </div>
                
              </div>
            </mat-card-content>
        </mat-card>

        <div>
          <!-- <button mat-button matStepperNext>Siguiente</button>-->
        </div>
      </form>
    </mat-step>


    <!-- PASO 2 RESULTADO DEL PRE CIERRE Y BOTON DEL CIERRE-->
    <mat-step [stepControl]="resumenPreCierreFormGroup" editable="false">
      <form [formGroup]="resumenPreCierreFormGroup">
        <input type="hidden"  formControlName="strContinua2"  [value]="pcontinua1" />
        <ng-template matStepLabel>RESUMEN PRE CIERRE</ng-template>

        <mat-card class="contenido_precierre text-center" appearance="outlined" >
          <mat-card-content  >
             <div class="row">

                <div class="col-sm-3">
                  <mat-form-field appearance="outline">
                      <mat-label>USUARIO</mat-label>
                      <input readonly matInput  formControlName="strUsuarioResumen" class="text-center" >
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field appearance="outline">
                      <mat-label>CANTIDAD HOGARES</mat-label>
                      <input readonly matInput  formControlName="strCantidadHogaresResumen" class="text-center">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field appearance="outline">
                      <mat-label>MONTO</mat-label>
                      <input readonly matInput  formControlName="strMontoPagarResumen" class="text-center">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field appearance="outline">
                      <mat-label>FECHA CIERRE</mat-label>
                      <input readonly matInput  formControlName="strFechaPreCierreResumen" class="text-center">
                  </mat-form-field>
                </div>

             </div>
             <hr>
             <div class="title_center"><app-spiner *ngIf="this.cargando"></app-spiner></div>
             <div class="rows">
              <div class="col-sm-12">
                <label class="title_center">LISTA DE RESULTDO DE LA VALIDACION</label>
                <mat-tab-group animationDuration="2000ms">
                  <mat-tab label="HOGARES APTOS">
                    <app-hogares-actos *ngIf="this.listaHogaresAptosPrecierre.length > 0" [lsHogaresAptosPreCierre]="this.listaHogaresAptosPrecierre"></app-hogares-actos>
                  </mat-tab>
                  <mat-tab label="HOGARES SUSPENDIDOS">
                    <app-hogare-suspendidos *ngIf="this.listaHogaresSuspendidosPrecierre.length > 0" [lsHogaresSuspendidosPreCierre]="this.listaHogaresSuspendidosPrecierre"></app-hogare-suspendidos>
                  </mat-tab> 
                </mat-tab-group>
              </div>
             </div>
             <div class="row">

              <div class="col-sm-6" style="text-align: right">
                <button mat-fab extended class="boton_general" [disabled]="this.botonReportePreCierre"  (click)="this.descargarReportePrecierreTodos()">
                  <mat-icon>library_books</mat-icon>
                  DESCARGAR REPORTE
                </button>
              </div>

              <div class="col-sm-6" style="text-align: left" *ngIf="this.listaHogaresAptosPrecierre.length > 0">
                 <button mat-fab extended class="boton_general" (click)="clickButton(3, stepper)">
                  <mat-icon>library_add_check</mat-icon>
                  GENERAR CIERRE
                </button>
              </div>
  

            </div>
          </mat-card-content>
      </mat-card>
      </form>
    </mat-step>



    <!-- PASO 3 RESUMEN DEL CIERRE-->
    <mat-step [stepControl]="cierreFormGroup" editable="false">
      <form [formGroup]="cierreFormGroup">
      <ng-template matStepLabel>CIERRE</ng-template>

      <mat-card class="contenido_precierre text-center" appearance="outlined" >
        <mat-card-content  >
          <div class="row">

            <div class="col-sm-3">
              <mat-form-field appearance="outline">
                  <mat-label>USUARIO</mat-label>
                  <input readonly matInput  formControlName="strUsuarioCierre" class="text-center" >
              </mat-form-field>
            </div>

            <div class="col-sm-3">
              <mat-form-field appearance="outline">
                  <mat-label>CANTIDAD HOGARES</mat-label>
                  <input readonly matInput  formControlName="strCantidadHogaresCierre" class="text-center">
              </mat-form-field>
            </div>

            <div class="col-sm-3">
              <mat-form-field appearance="outline">
                  <mat-label>MONTO</mat-label>
                  <input readonly matInput  formControlName="strMontoPagarCierre" class="text-center">
              </mat-form-field>
            </div>

            <div class="col-sm-3">
              <mat-form-field appearance="outline">
                  <mat-label>FECHA CIERRE</mat-label>
                  <input readonly matInput  formControlName="strFechaCierre" class="text-center">
              </mat-form-field>
            </div>

         </div>
        </mat-card-content>
      </mat-card>    

      <app-spiner *ngIf="this.cargando"></app-spiner><br>
      <div class="title_center"> Lista de Hogares Actos Validados</div>
      <div class="row">
        <app-hogares-actos-cierre *ngIf="this.lsHogaresAptosValidados.length>0"  [lsHogaresActosValidados]="this.lsHogaresAptosValidados"></app-hogares-actos-cierre>
      </div>
        <div style="text-align: center;">
          <button mat-fab extended class="boton_general"  [disabled]="this.botonReportePreCierre" (click)="descargarReporteHogaresValidados(this.codigoPrecierre)" *ngIf="this.listaHogaresAptosPrecierre.length>0">
            <mat-icon>library_add_check</mat-icon>
              DESCARGAR REPORTE
          </button>
       </div>

      </form>
    </mat-step>
    
  </mat-stepper>
